body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(194, 183, 205);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: rgb(99, 70, 215);
}

#page-title a {
    font-size: 1.8em;
    color: rgb(62, 168, 255);
    font-family: "Brush Script MT", cursive;
}

#content-area {
    background-color: white;
    margin: 0 3em 0 3em;
}

#page-title {
    display: inline-block;
    width: 15em;
    padding: 0 10vw;
}

#date {
    display: inline-block;
    text-align: right;
    padding: 0 0 0 24vw;
}

#main-nav a {
    color: white;
    display: block;
    padding: 20px 0 20px 0;
    text-align: center;
}

#main-nav ul {
    padding-left: 0;
}

#main-nav li {
    display: inline-block;
    background-color: rgb(194, 183, 205);
    width: 25%;
    box-sizing: border-box;
}

#main-nav li a:hover {
    background-color: rgb(161, 147, 174);
}

main {
    display: inline-block;
    width: 75%;
    padding: 0 0 0 30px;
    /* margin: 0 10em 0 0; */
}

aside {
    float: right;
    vertical-align: top;
    padding: 30px 50px 0 0;
}

@media screen and (max-width:768px) {
    body {
        background-color: white;
    }

    aside section {
        display: inline-block;
        margin: 0 30px;
    }

    #news-panel div{
        display: inline-block;
    }

    #news-panel div .story-thumbnail {
        width: 24vw;
        height: 12vh;
    }

    #content-area {
        margin: 0;
    }

    header, main, aside {
        margin: 0 3em 0 3em;;
    }

    #date {
        text-align: left;
        padding: 0;
        margin: 0;
    }

    #page-title {
        display: block;
        padding: 0;
    }

    aside {
        float: none;
        padding: 0;
    }
}